<!doctype html>
<html dir="ltr" lang="ja">
<head>
  <%- include('../_includes/head.html.ejs'); %>
  <link type="text/css" rel="stylesheet" href="<%= asset_path('/styles/blog.css') %>" />
</head>
<body>
  <%- include('../_includes/gtm.html.ejs'); %>
  <!--[if lt IE 9]>
    <p class="browserupgrade">
      <strong>古い</strong>ブラウザをご使用されています。
      本サイトを快適に閲覧頂くために、<a href="http://browsehappy.com/">新しいブラウザにアップグレード</a>してください。
    </p>
  <![endif]-->
  <%- include('../_includes/header.html.ejs'); %>

  <div id="blog_page" class="wrap_all">
    <article id="blog" class="article">
      <section class="blog__title w_const">
        <span><%= page.title %></span>
      </section>
      <div class="article__conts w_const cf">
        <div id="blog-content">
          <div id="blog-subtitle" class="cf">
            <div id="blog-date">
              <%= formatDate(post.date, 'YYYY/MM/DD') %>
            </div>
            <div id="blog-tags">
              <%- include('../_includes/post_tag.html.ejs'); %>
            </div>
          </div>
          <div class="markdown-body">
          <%- content %>
          </div>
        </div>
        <div id="blog-menu">
          <span><strong>最近の記事</strong></span>
          <%- include('../_includes/recent_articles.html.ejs'); %>
          <span><strong>タグ</strong></span>
          <%- include('../_includes/all_tag.html.ejs'); %>
        </div>
      </div>
      <div class="w_const">
        <%- include('../_includes/socialbuttons_v.html.ejs'); %>
        <%- include('../_includes/relate_articles.html.ejs', {posts: relatePosts(post.title, site)}); %>
      </div>
    </article>
    <%- include('../_includes/scout.html.ejs'); %>
  </div>

  <%- include('../_includes/footer.html.ejs'); %>
  <%- include('../_includes/javascripts.html.ejs'); %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ['\\(','\\)'] ],
        processEscapes: true
      }
    });
  </script>
  <script async
   src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
</body>
</html>
