<!doctype html>
<html dir="ltr" lang="ja">
<head>
  <%- include('../_includes/head.html.ejs'); %>
  <link type="text/css" rel="stylesheet" href="<%= asset_path('/styles/blog.css') %>" />
</head>
<body>
  <%- include('../_includes/gtm.html.ejs'); %>
  <!--[if lt IE 9]>
    <p class="browserupgrade">
      <strong>古い</strong>ブラウザをご使用されています。
      本サイトを快適に閲覧頂くために、<a href="http://browsehappy.com/">新しいブラウザにアップグレード</a>してください。
    </p>
  <![endif]-->
  <%- include('../_includes/header.html.ejs'); %>

  <%- content %>

  <%- include('../_includes/footer.html.ejs'); %>
  <%- include('../_includes/javascripts.html.ejs'); %>
</body>
</html>
