<ul <%- typeof addClass !== 'undefined' ? 'class="'+addClass+'"': '' %>>
  <%
  Object.keys(site.tagMap).forEach((tag) => {
    var stag = site.tagMap[tag];
    var tagColor = stag.index % 12;
    %>
    <li class="tag-color-label tag__<%= tagColor %>">
      <a href="/blog/tag/<%- encodeURIComponent(tag) %>/"><%= tag %> (<%= stag.posts.length %>)</a>
    </li>
    <%
  });
  %>
</ul>
