<%
var _title, _description;
if (typeof title !== 'undefined') {
  _title = title + ' | ' + site.name;
} else if (page.title) {
  _title = page.title + ' | ' + site.name;
} else {
  _title = site.name;
}
if (typeof description !== 'undefined') {
  _description = description;
} else if (page.description) {
  _description = page.description;
} else {
  _description = 'ALTUS-FIVE（アルタスファイブ）は、長きにわたって培ってきた「確かな技術」「数多くの経験」を力に、みなさまの開発案件をトータルにお手伝いをするシステム開発会社です。数多くの現場に携わってきた私たちは、各社ごとそれぞれに最適な開発のサポートをお約束します。';
}
var _rssUrl = site.url + '/feed.xml';
%>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="alternate" hreflang="ja" href="https://www.altus5.co.jp/" />
<title><%= _title %></title>
<meta name="description" content="<%= _description %>">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="<%= _title %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= site.url %><%= page.url %>">
<meta property="og:description" content="<%= _description %>">
<meta property="og:site_name" content="<%= site.name %>">
<meta property="og:image" content="<%= site.url %><%= asset_path('/images/ogp.png'); %>">

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="<%= site.url %><%= page.url %>">
<meta name="twitter:title" content="<%= _title %>">
<meta name="twitter:description" content="<%= _description %>">
<meta name="twitter:image" content="<%= site.url %><%= asset_path('/images/ogp.png'); %>">

<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('/images/apple_touch_icon180x180.png'); %>">
<link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path('/images/apple_touch_icon152x152.png'); %>">
<link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('/images/apple_touch_icon120x120.png'); %>">
<link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('/images/apple_touch_icon76x76.png'); %>">

<link href='<%= _rssUrl %>' rel='alternate' type='application/atom+xml'>
<link type="text/css" rel="stylesheet" href="<%= asset_path('/styles/common.css') %>" />
